/* palette: #f3f6f8 (almost white), 
#352D39 (black coffee)
#A1AEBB (cadet blue)
#F4ECE2 (linen)
#9A8FA9 (glossy grape)
#C2781E (ochre) */

* {
	vertical-align: baseline;
	font-family: 'Poppins', sans-serif;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
    background-color: #9A8FA9;
    height: 925px;
}
.registration-title {
	font-size: large;
	margin-bottom: 1em;
}
.registration-form {
	background-color: rgba(226,235,244,0.80);
	width: 400px;
	border-radius: 1.5%;
	padding: 1em;
	color: #352d39;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display:flex;
	flex-direction: column;
	justify-content: center;
	font-weight: bold;
}
.btn-standard{
    text-decoration: none;
    color: #f0ebe5;
    background-color: #9e8cb6;
    padding: .4em;
    border-radius: 10px;
    margin-top: 1em;
	display: block;
}
label {
	display: block;
	left: 50%;
}
input {
	padding: .25em;
	width: 250px;
	margin: .2em;
}
