/* palette: #f3f6f8 (almost white), 
#44bba4 (teal blue), 
#393e41 (cool grey),
#d3d0cb (timberwolf),
#fc4622 (chinese orange) */


* {
	vertical-align: baseline;
	font-family: 'Poppins', sans-serif;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}



/* Navbar styling */
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:#44BBA4;
    text-decoration: none;
    padding: 1em;
    gap: 1em;
    box-shadow: 0 10px 6px -6px rgb(189, 188, 188);
}
#nav-1{
    background-color:#f3f6f8;
}
.nav-items{
    transition: 0.5s ease;
    text-decoration: none;
    color:#44BBA4;
    border-bottom: 1px solid #f3f6f8;
    border-top: 1px solid #f3f6f8;
    padding: .5em 0;
    margin: 0 .5em;
}
.nav-items:hover, .nav-items:focus{
    border-top: 1px solid #44BBA4;
    border-bottom: 1px solid #44BBA4;
    padding: .35em 0;
}