<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Blog - Main</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/296fe13e1b.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class='navbar' id='nav-1'>
        <a class='nav-items' href='#home'>Home</a></li>
        <a class='nav-items' href='registration_form'>Register</a></li>
        <a class='nav-items' href='#login'>Login</a></li>
        <a class='right-nav' href='#home'><img src="/static/imgs/logov2.png" id="logo"></a>
    </nav>
    <div class='main-container'>
        <main class='main-content'>
            <h1 class='main-heading'>Better Blog</h1>
            <h2 class='main-subheading'>A social blog for the soul</h2>
            <p class='main-paragraph'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores repellendus
                aperiam necessitatibus
                illo perferendis, labore suscipit ratione, assumenda porro dignissimos expedita tempore quaerat neque
                reiciendis nemo voluptatum. Maxime, odit numquam? Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Omn</p>
            <a href='#' class='btn-standard'>Start blogging</a>
        </main>
        <canvas id='canvas'></canvas>
    </div>
    <h3 class='canvas-question'>Whats on your mind?</h3>
    <script src="{% static '/js/script.js' %}"></script>
</body>

</html>